.top {
  &.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 100vh;
    border: 1px solid red;
  }

  @media only screen and (max-width: 420px) {
    &.content {
      // padding-top: 50px;
    }
  }

  @media only screen and (min-width: 421px) and (max-width: 960px) {
    &.content {
      // padding-top: 50px;
    }
  }

  @media only screen and (min-width: 961px) {
    &.content {
      width: 860px;
      margin: 0 auto;
      // padding-top: 50px;
    }
  }
}
