@use '../../../global/style/colors';

.project-summary {
  background-color: colors.$white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  cursor: pointer;
  margin: 12px 0 0 0;
  border-bottom: 3px solid colors.$light-blue;
}

.project-summary-title {
  font-size: 20px;
  padding: 8px 8px 0 8px;
  color: colors.$black;
}

.project-summary-title:hover {
  color: colors.$gray;
}

.project-summary-title-current {
  font-size: 20px;
  padding: 8px 8px 0 8px;
  color: colors.$blue;
}

.project-details-container {
  background-color: colors.$white;
}

.hidden {
  max-height: 0;
  overflow: hidden;
}

.project-details-padding {
  padding: 8px;
}

.project-details-link-container {
  padding: 10px 8px 8px 8px;
}

.project-details-link {
  margin: 8px;
}

.project-description-full-container {
  display: flex;
  flex-wrap: wrap;
}

.project-description-full,
.project-tech {
  padding: 10px 8px 8px 8px;
}

.project-categories-wrapper-featured {
  display: flex;
  flex-wrap: wrap;
  max-width: 840px;
}

.app-categories-wrapper {
  margin: 30px 0 0 0;
}

@media only screen and (max-width: 420px) {
  .project-categories-wrapper {
    margin: 32px 0 0 0;
  }

  .project-categories-wrapper-featured {
    justify-content: center;
  }

  .project-details-link-container {
    width: 100%;
  }

  .project-summary {
    width: 100%;
  }

  .project-summary-title {
    width: 80%;
  }

  .project-summary-description {
    width: 100%;
    padding: 0 0 8px 8px;
  }

  .project-description-full,
  .project-tech {
    width: 96%;
  }
}

@media only screen and (min-width: 421px) and (max-width: 960px) {
  .project-categories-wrapper {
    margin: 32px 0 0 0;
  }

  .project-categories-wrapper-featured {
    justify-content: left;
  }

  .project-details-link-container {
    width: 48%;
  }

  .project-summary {
    width: 100%;
  }

  .project-summary-title {
    width: 40%;
  }

  .project-summary-title-current {
    width: 40%;
  }

  .project-summary-description {
    width: 45%;
    padding: 9px 0 0 0;
  }

  .project-description-full,
  .project-tech {
    width: 48%;
  }
}

@media only screen and (min-width: 961px) {
  .project-categories-wrapper {
    margin: 32px 0 0 10px;
  }

  .project-categories-wrapper-featured {
    justify-content: left;
  }

  .project-details-link-container {
    width: 48%;
  }

  .project-summary {
    width: 836px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .project-summary-title {
    width: 40%;
  }

  .project-summary-title-current {
    width: 40%;
  }

  .project-summary-description {
    width: 50%;
    padding: 9px 0 0 0;
  }

  .project-details-container {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 836px;
  }

  .project-description-full,
  .project-tech {
    width: 48%;
  }

  .app-categories-wrapper {
    margin: 30px 0 0 10px;
  }
}
