@use 'src/app/global/style/colors';
@use 'src/app/global/style/vars';

.splash {
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow: hidden;
  top: 0vh;

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../img/DSC_1192_edit.jpg');
  min-height: 100vh;
  min-width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  // border: 1px solid green;

  &--scroll-up {
    top: -100vh;
    transition: top ease 2s;
  }

  &__hero-text {
    &--outer-container {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: calc(100vh - #{vars.$splash-button-height});
      min-width: 100vw;
      // border: 1px solid red;
    }

    &--inner-container {
      color: white;
      min-height: 260px;
      // border: 1px solid yellow;
    }

    &--top {
      text-align: center;
      border-bottom: 2px solid white;
    }

    &--bottom {
      text-align: center;
    }

    @media only screen and (max-width: 420px) {
      &--top {
        font-size: 24px;
        padding: 12px 24px;
      }

      &--bottom {
        font-size: 18px;
        padding: 12px 24px;
      }
    }

    @media only screen and (min-width: 421px) and (max-width: 960px) {
      &--top {
        font-size: 32px;
        padding: 18px 36px;
      }

      &--bottom {
        font-size: 28px;
        padding: 18px 36px;
      }
    }

    @media only screen and (min-width: 961px) {
      &--top {
        font-size: 48px;
        padding: 32px 48px;
      }

      &--bottom {
        font-size: 32px;
        padding: 32px 48px;
      }
    }
  }

  &__button {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    bottom: -#{vars.$splash-button-height};

    min-height: vars.$splash-button-height;
    min-width: 100vw;
    cursor: pointer;
    color: colors.$dark-gray;
    background-color: colors.$light-gray;
    transition: background-color 0.2s, bottom 1s;
    font-size: 24px;

    // border: 1px solid red;

    &--unhidden {
      bottom: 0px;
    }

    &:hover {
      background-color: colors.$light-blue;
      transition: background-color 0.2s;
    }

    &__content {
      width: 100%;
      text-align: center;
    }
  }
}
