/* Imported in index.js */
@use '../../style/colors';

.navlink {
  text-decoration: none;
  margin: 10px 8px 10px 8px;
  font-size: 20px;
  color: colors.$dark-gray;
}

.navlink:hover {
  color: colors.$gray;
}

.navlink-current {
  margin: 10px 8px 10px 8px;
  font-size: 20px;
  color: colors.$blue;
}

.navlink-section {
  margin: 10px 5px 10px 5px;
  font-size: 20px;
  color: colors.$black;
  cursor: pointer;
}

.navlink-section:hover {
  color: colors.$gray;
}

.navlink-section-current {
  color: colors.$blue;
}

.navlink-section-current:hover {
  color: colors.$blue;
}

.navlink-section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-bottom: 1px solid white;
  width: 100%;
}

@media only screen and (max-width: 420px) {
  .navlink-section-container {
    margin: 5px 0 5px 0;
  }
}

@media only screen and (min-width: 421px) and (max-width: 960px) {
  .navlink-section-container {
    margin: 5px 0 0 0;
  }
}

@media only screen and (min-width: 961px) {
  .navlink-section-container {
    margin: 5px 0 0 0;
  }
}
