/* Features include info about PM, Developer, Analyst */
.button-1 {
  background-image: linear-gradient(
    to bottom right,
    rgba(212, 239, 255, 0.2),
    rgba(212, 239, 255, 1)
  ), url('../img/project-manager.png');
}

.button-2 {
  background-image: linear-gradient(
    to bottom right,
    rgba(212, 239, 255, 0.5),
    rgba(212, 239, 255, 1)
  ), url('../img/web-development.png');
}

.button-3 {
  background-image: linear-gradient(
    to bottom right,
    rgba(212, 239, 255, 0.6),
    rgba(212, 239, 255, 1)
  ), url('../img/data-analyst.png');
}

.button-1,
.button-2,
.button-3 {
  font-size: 20px; color: rgb(0, 63, 158); text-align: center; padding-top: 20px;
  background-size: cover;
  transition: all 0.2s linear;
  width: 15vw; min-width: 200px;
  height: 45px;
  margin: 10px;
  border: black 1px solid; border-radius: 5px;
}

.button-1:hover,
.button-2:hover,
.button-3:hover {
  box-shadow: 0px 1px 10px #999;
  transform: scale(1..01);
}