.education-section {
  min-height: 280px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 0 0;
}

.education-feature {
  background-color: white;
}

.education-feature-title {
  margin: 20px 0 0 0;
  text-align: center;
}

.education-feature-description {
  margin: 20px 20px 0 20px;
  max-width: 600px;
}

.education-title {
  font-size: 18px;
  font-weight: bold;
}

.education-setting {
  color: rgb(112, 128, 144);
  font-size: 14px;
}

.education-container {
  margin: 24px 0 0 0;
}

@media only screen and (max-width: 420px) {
  .education-feature {
    width: 100%;
    flex-wrap: wrap;
  }

  .education-feature-title {
    min-width: 25%;
  }

  .education-feature-description {
    min-width: 65%;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 421px) and (max-width: 960px) {
  .education-feature {
    width: 100%;
    flex-wrap: wrap;
  }

  .education-feature-title {
    min-width: 35%;
  }

  .education-feature-description {
    min-width: 55%;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .education-feature {
    margin: 20px 10px 0 10px;
    border-radius: 5px;
  }

  .education-feature-title {
    min-width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .education-feature-description {
    min-width: 55%;
  }
}
