@use 'src/app/global/style/colors';
@use 'src/app/global/style/fonts';

.blog-post-header {
  &.title {
    font-family: fonts.$titles-and-headers;
    font-size: 32px;
    padding: 4px 8px 4px 8px;
  }

  &.subtitle {
    font-size: 20px;
    padding: 4px 8px 4px 8px;
  }

  &.date {
    font-size: 14px;
    font-family: fonts.$dates-and-places;
    color: colors.$gray;
    padding: 4px 8px 4px 8px;
  }

  &.author {
    font-size: 14px;
    padding: 4px 8px 4px 8px;
  }

  &.image {
    max-width: 100%;
  }
}
