@use 'src/app/global/style/colors';

.bp-title {
  font-size: 32px;
  padding: 4px 8px 4px 8px;
}

.bp-subtitle {
  font-size: 20px;
  padding: 4px 8px 4px 8px;
}

.bp-date {
  font-size: 14px;
  color: colors.$gray;
  padding: 4px 8px 4px 8px;
}

.bp-author {
  font-size: 14px;
  padding: 4px 8px 4px 8px;
}

.bp-header-image {
  max-width: 100%;
}
