@use 'src/app/global/style/colors';

.blog {
  &.container {
    box-sizing: border-box;
    width: 100vw;
    background-color: colors.$white;
    padding: 20px;
  }

  @media only screen and (max-width: 420px) {
    &.container {
      margin: 42px 0 20px 0;
      width: 100vw;
    }
  }

  @media only screen and (min-width: 421px) and (max-width: 960px) {
    &.container {
      margin: 42px 0 20px 0;
      width: 100vw;
    }
  }

  @media only screen and (min-width: 961px) {
    &.container {
      max-width: 840px;
      border-radius: 5px;
      margin: 42px 0 20px 10px;
    }
  }
}
