$white: white;
$black: black;

$blackblue1: rgba(22, 25, 33);
$blackblue2: rgba(29, 39, 49);
$blackblue3: rgba(32, 48, 62);
$blueteal1: rgba(34, 53, 67);
$blueteal2: rgba(46, 74, 91);
$blueteal3: rgba(80, 112, 130);
$tealyellow1: rgba(118, 141, 154);
$tealyellow2: rgba(169, 169, 170);
$tealyellow3: rgba(226, 192, 165);
$yelloworange1: rgba(253, 186, 107);
$yelloworange2: rgba(254, 170, 42);
$yelloworange3: rgba(230, 123, 28);

$light-gray: rgb(245, 245, 245);
$gray: rgb(100, 100, 100);
$dark-gray: rgb(60, 60, 60);
$blue: #0f84e4;
$light-blue: rgb(212, 239, 255);

$orange: rgb(216, 115, 0);
$light-orange: rgb(238, 163, 77);
