$white: white;

$black: rgb(0, 0, 0);
$light-gray: rgb(245, 245, 245);
$gray: rgb(100, 100, 100);
$dark-gray: rgb(60, 60, 60);
$blue: #0f84e4;
$light-blue: rgb(212, 239, 255);

$orange: rgb(216, 115, 0);
$light-orange: rgb(238, 163, 77);
