$white: white;

$black: rgb(0, 0, 0);
$gray: rgb(100, 100, 100);
$dark-gray: rgb(80, 80, 80);
$blue: #0f84e4;
$light-blue: rgb(212, 239, 255);

$orange: rgb(216, 115, 0);
$light-orange: rgb(238, 163, 77);
