/* Global parameters and imports */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-family: Muli; 
  background-color: rgb(212, 239, 255);
}

/* Tags */
.navlink {
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  color: rgb(0, 63, 158);
  border: 1px solid black;
}

a {
  text-decoration: none;
  color:#0f84e4;
}

p {
  line-height: 25px;
  margin-bottom: 15px;
}

/* Media query configuration */
/* Smartphone Styles */
@media only screen and (max-width: 420px) {
  .navbar {
    width: 100%;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 421px) and (max-width: 960px) {
  .navbar {
    width: 100%;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .navbar {
    width: 860px;
    margin: 0 auto;
  }
}

/* Page styling */
/* Page content container including header and footer */
.page-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}

/* NavBar */
.navbar {
  display: flex; flex-direction: row; flex-wrap: wrap; justify-content: left;
  margin-top: 40px; margin-bottom: 40px;
}

/* Footer */
.footer-wrapper {
  display:flex;
  justify-content: center;
}