/* Global parameters and imports */
html {
  /* scroll-behavior: smooth; */
}

body {
  margin: 0 auto;
  font-family: Muli;
  background-color: rgb(212, 239, 255);
}

/* Tags */
.navlink {
  text-decoration: none;
  margin: 10px;
  font-size: 20px;
  color: black;
  transition: 0.3s;
}

.navlink:hover {
  color:rgb(0, 63, 158);
}

.navlink-current {
  margin: 10px;
  font-size: 20px;
  color: #0f84e4;
}

.navlink-section {
  cursor: pointer;
  margin: 10px;
  font-size: 16px;
  transition: 0.3s;
}

.navlink-section:hover {
  color:rgb(0, 63, 158);
}

.navlink-section-current {
  cursor: pointer;
  margin: 10px;
  font-size: 16px;
  color: #0f84e4;
}

.navlink-section-container {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 0 0 0;
}

a {
  text-decoration: none;
  color: rgb(0, 63, 158);
}

p {
  line-height: 25px;
  margin: 10px 0 10px 0;
}

/* NavBar */
.navbar-container {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100vw;
  background-color: rgb(212, 239, 255);
  border-bottom: 1px solid white;
}

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(212, 239, 255);
}

.floating-navbar {
  border-radius: 2px;
  box-shadow: 0px 1px 10px #999;
}

/* Page content */
.page-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}

/* Footer */
.footer-wrapper {
  display: flex;
  justify-content: center;
}

/* Media query configuration */
/* Smartphone Styles */
@media only screen and (max-width: 420px) {
  .page-content {
    padding-top: 80px;
  }

  .navbar{
    width: 100vw;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 421px) and (max-width: 960px) {
  .page-content {
    padding-top: 50px;
  }

  .navbar{
    width: 100vw;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .page-content {
    width: 860px;
    margin: 0 auto;
    padding-top: 50px;
  }

  .navbar{
    width: 860px;
  }
}
