/* Page styling */
/* Configures collapsible menu */
.project-summary {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  cursor: pointer;
  margin: 12px 0 0 0;
  border-bottom: 3px solid rgb(212, 239, 255);
}

.project-summary-title {
  font-size: 20px;
  padding: 8px 8px 0 8px;
  color: rgb(0, 0, 0);
}

.project-summary-title:hover {
  color: rgb(100, 100, 100);
}

.project-summary-title-current {
  font-size: 20px;
  padding: 8px 8px 0 8px;
  color: #0f84e4;
}

.project-details-container {
  background-color: white;
}

.hidden {
  max-height: 0;
  overflow: hidden;
}

.project-details-padding {
  padding: 8px;
}

.project-details-link-container {
  padding: 10px 8px 8px 8px;
}

.project-details-link {
  margin: 8px;
}

.project-details-link:hover {
  color: black;
}

.project-description-full-container {
  display: flex;
  flex-wrap: wrap;
}

.project-description-full,
.project-tech {
  padding: 10px 8px 8px 8px;
}

.project-categories-wrapper-featured {
  display: flex;
  flex-wrap: wrap;
  max-width: 840px;
}

/* Styles based on queries of the screen width */
/* Mobile Styles */
@media only screen and (max-width: 420px) {
  .project-categories-wrapper {
    margin: 30px 0 0 0;
  }

  .project-categories-wrapper-featured {
    justify-content: center;
  }

  .project-details-link-container {
    width: 100%;
  }

  .project-summary {
    width: 100%;
  }

  .project-summary-title {
    width: 80%;
  }

  .project-summary-description {
    width: 100%;
    padding: 0 0 8px 8px;
  }

  .project-description-full,
  .project-tech {
    width: 96%;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 421px) and (max-width: 960px) {
  .project-categories-wrapper {
    margin: 30px 0 0 0;
  }

  .project-categories-wrapper-featured {
    justify-content: left;
  }

  .project-details-link-container {
    width: 48%;
  }

  .project-summary {
    width: 100%;
  }

  .project-summary-title {
    width: 40%;
  }

  .project-summary-title-current {
    width: 40%;
  }

  .project-summary-description {
    width: 45%;
    padding: 9px 0 0 0;
  }

  .project-description-full,
  .project-tech {
    width: 48%;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .project-categories-wrapper {
    margin: 30px 0 0 10px;
  }

  .project-categories-wrapper-featured {
    justify-content: left;
  }

  .project-details-link-container {
    width: 48%;
  }

  .project-summary {
    width: 845px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .project-summary-title {
    width: 40%;
  }

  .project-summary-title-current {
    width: 40%;
  }

  .project-summary-description {
    width: 50%;
    padding: 9px 0 0 0;
  }

  .project-details-container {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 845px;
  }

  .project-description-full,
  .project-tech {
    width: 48%;
  }
}