.featured-container {
  box-sizing: border-box;
  height: 276px;
  width: 276px;
  padding: 10px;
}

.featured-container:hover .featured-title {
  color: rgb(238, 163, 77);
}

.featured-container:hover .featured-img {
  transform: scale(1.1);
}

.featured-card {
  box-sizing: border-box;
  height: 256px;
  border-radius: 5px;
}

.featured-img-container {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  height: 201px;
  width: 256px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  overflow: hidden;

  /* Ideal img resolutions: 256x206, 512x412, 768x618, 1024x824  */
}

.featured-img {
  transition: transform 1.5s;
}

.featured-category-title-container {
  box-sizing: border-box;
  height: 55px;
  width: 256px;
  padding: 5px 10px 0 10px;

  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.featured-category {
  text-align: right;
}

.featured-title {
  color: rgb(216, 115, 0);
  font-size: 20px;
}