/* Mobile Styles */
@media only screen and (max-width: 420px) {
  .navbar,
  .header,
  .headline,
  .feature-1,
  .feature-2,
  .feature-3 {
    width: 100%;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 421px) and (max-width: 960px) {
  .header,
  .headline,
  .feature-1,
  .feature-2,
  .feature-3 {
    width: 50%;
  }
  .navbar {
    width: 100%;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .navbar,
  .homepage,
  .header-wrapper {
    width: 860px;
    margin: 0 auto;
  }
  .header,
  .headline,
  .feature-1,
  .feature-2,
  .feature-3 {
    width: 50%;
  }
  .navbar {
    border-radius: 5px;
  }
}

@tailwind preflight;
@tailwind components;
@tailwind utilities;
@tailwind screens;

/** Page including header and footer **/
.page-content {
  display: flex;
  flex-direction: column;
  background-color: rgb(212, 239, 255);
  min-height: 100vh;
  width: 100vw;
}

/** Header **/
.navbar {
  display: flex; flex-wrap: wrap; justify-content: space-around;
  background-color:white;
  margin-top: 10px; margin-bottom: 30px;
}

/** Footer **/
.footer-wrapper {
  padding: 10px;
}

.footer-content {
  display:flex;
  justify-content: center;
}

/** Content between header and footer **/

/** .homepage settings configures content to rearrange according to media queries **/
.homepage {
  display: flex;
  flex-wrap: wrap;
}

/** .section class is attached to each Home content div **/
.section {
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  flex-direction: column;
  font-size: 20px;
}

.headshot {
  border-radius: 5px;
  width: 200px;
  height: 200;
  border: black solid 1px;
  box-shadow: 2px 4px 10px 4px rgba(0,0,0,0.3);
}

.headline {
  flex-direction: column;
}

.content {
  width: 100%;
  height: auto;
  flex-direction: column;
  padding: 50px;
  background-color: rgb(212, 239, 255);
}

.feature-ref-1 {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.8)
  ), url('../img/project-manager.png');
}

.feature-ref-2 {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url('../img/web-development.png');
}

.feature-ref-3 {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.8)
  ), url('../img/data-analyst.png');
}

.feature-ref-1:hover,
.feature-ref-2:hover,
.feature-ref-3:hover {
  color: rgb(108, 201, 255);
  box-shadow: 2px 4px 10px 4px rgba(0,0,0,0.3);
}

.feature-ref-1,
.feature-ref-2,
.feature-ref-3 {
  font-size: 20px; color: white; text-align: center; padding-top: 20px;
  background-size: cover;
  transition: all 0.2s linear;
  width: 25vw; min-width: 220px;
  height: 70px;
  margin: 10px;
  border: black 1px solid; border-radius: 5px;
}

.feature-1,
.feature-2,
.feature-3 {
  display: flex; flex-direction: row;
  background-color:white;
  margin-top: 10px;
  border-radius: 5px;
}

.category {
  font-size: 20px;
}

/** Tags **/
.navlink {
  text-decoration: none;
  transition: all 0.1s linear;
  padding: 10px;
  font-size: 20px;
  color:#4eafff;
}

.navlink:hover {
  background-color: rgb(240, 240, 240);
}

a {
  text-decoration: none;
}

