/* Mobile Styles */
@media only screen and (max-width: 420px) {
  body {
    background-color: #F09A9D; /* Red */
  }
  .header,
  .headline,
  .feature-1,
  .feature-2 {
    width: 100%;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 421px) and (max-width: 960px) {
  body {
    background-color: #F5CF8E; /* Yellow */
  }
  .header,
  .headline,
  .feature-1,
  .feature-2 {
    width: 50%;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #B2D6FF; /* Blue */
  }
  .homepage {
    width: 860px;
    margin: 0 auto;
  }
  .header,
  .headline,
  .feature-1,
  .feature-2 {
    width: 50%;
  }
}

@tailwind preflight;
@tailwind components;
@tailwind utilities;
@tailwind screens;

/** Page **/

.page-content {
  @apply flex flex-col w-full pin-l pin-y;
}

/** Header **/

.header-wrapper {
  @apply flex w-screen items-center justify-between flex-wrap;
  background-color: rgb(108, 201, 255);
}

.header-left {
  @apply text-3xl border border-blue;
}

.header-center {
  @apply text-3xl border border-green;
}

.left-arrow {
  width: 50px;
}

/** Footer **/

.footer-wrapper {
  @apply px-8 py-4;
}

.footer-content {
  @apply flex justify-center;
}

/** Content section **/

/** Custom tags **/

.up-triangle {
  margin-right: 150px;
  margin-top: 20px;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 50px solid red;
}

.navlink {
  text-decoration: none;
}

a {
  text-decoration: none;
}

/** Mobile first **/

.homepage {
  display: flex;
  flex-wrap: wrap;
}

.section {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
}

.headshot {
  border-radius: 50%;
  width: 210px;
  height: 210;
  border: black solid 1px;
  box-shadow: 2px 4px 10px 4px rgba(0,0,0,0.3);
}

.headline {
  flex-direction: column;
}

.content {
  width: 100%;
  height: auto;
  flex-direction: column;
  padding: 50px;
  background-color: rgb(108, 201, 255);
}

.feature-1 {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url('../img/blackmnt.jpg');
  background-size: cover;
}

.feature-2 {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url('../img/rivervalley_sm.jpg');
  background-size: cover;
  transition: all 0.2s linear;
}

.feature-2:hover {
  color: rgb(108, 201, 255);
  box-shadow: 2px 4px 10px 4px rgba(0,0,0,0.3);
}

.feature-1,
.feature-2 {
  text-align: center;
  color: white;
}