/* Page styling */
/* Configures collapsible menu */
.collapse-menu {
  background-color: white;
  display: flex; flex-direction: row; flex-wrap: wrap;
  border-top-left-radius: 5px; border-top-right-radius: 5px;
  cursor: pointer;
}

.project-icon {
  padding: 5px;
}

/* Configures collapsible menu */
.collapse-menu-title {
  font-size: 20px;
  padding: 8px 8px 0 8px;
}

.collapse-menu-description {
  padding: 12px 0 0 0;
}

/* Configures sections */
.section-small {
  min-height: 60px; height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  background-color:white;
  margin-bottom: 20px;
}

/* Features include info about PM, Developer, Analyst */
.feature-container {
  width: 100%;
  transition: all 0.5;
}

.section-title {
  font-size: 20px;
  width: 100%;
  text-align: center;
  padding: 0 0 10px 0;
}

.feature-title {
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
}

.feature-description {
  font-size: 18px;
  padding: 20px;
}

/* Styles based on queries of the screen width */
/* Mobile Styles */
@media only screen and (max-width: 420px) {
  .collapse-menu {
    width: 100%;
  }

  .collapse-menu-title {
    width: 80%;
  }
  
  .collapse-menu-description {
    width: 100%;
    padding: 0;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 421px) and (max-width: 960px) {
  .collapse-menu {
    width: 100%;
  }

  .collapse-menu-title {
    width: 40%;
  }
  
  .collapse-menu-description {
    width: 45%;
    padding: 12px 0 8px 0;
  }

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .collapse-menu {
    width: 860px;
    margin: 0 auto;
  }
  
  .collapse-menu-title {
    width: 40%;
  }
  
  .collapse-menu-description {
    width: 50%;
  }
}